# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.swap
*.o
# Custom file
*.tar.gz
.*
*.bk
*.bak
lab/
.cdl
.gds
.strm
.v
.out
.tar.gz
.tar
old
